body {
    min-height: 100vh;

    display: grid;
    grid-template: auto / auto;
    justify-items: center;
}

a {
    color: rgb(33, 110, 242);
    text-decoration: none;
    &:visited {
        color: rgb(33, 110, 242);
    }
    &:active {
        color: rgb(255, 94, 94);
    }
}

.error p {
    color: red;
    padding: 0 0 15px 30px;
}

.highlight-error {
    box-shadow: 0 0 4px 4px red;
}

h1 {
    font-size: 35px;
}
h2 {
    font-size: 28px;
    margin: 0 40px;
    text-align: center;
}

main {
    margin-top: 10px;
    grid-area: 1 / 1 / 1 / -1;
    width: 100vw;
    max-width: 1000px;
    background-color: #f0f0f0;
    border: 2px solid #eeeeee;
    color: #303030;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 0 5px black;

    &.home h2 {
        border-top: 2px solid #303030;
        padding-top: 10px;
    }

    &.survey {
        justify-content: flex-start;
        > * {
            width: 100%;
        }

        .about-you {
            box-sizing: border-box;
            padding: 30px;
            text-align: left;
            border: solid #303030;
            border-width: 1px 0;
            > * {
                text-align: left;
                margin: 5px;
                margin-left: 0;
            }
            h2 {
                margin: 5px 15px 15px 0;
            }
            input {
                width: 80%;
                font-size: 15px;
                padding: 5px;
                border-radius: 5px;
            }
        }

        .questions > * {
            margin: 20px;
            text-align: left;
            > * {
                width: max-content;
                max-width: 100%;
                padding: 0;
                margin: 10px;
            }
            select {
                border: none;
                width: 80%;
                font-size: 15px;
            }
        }
        .submit-survey {
            max-width: 300px;
            cursor: pointer;
            margin: 0 30px 30px;
            align-self: flex-start;
        }
    }

    header {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);

        a {
            grid-column: 1;
            width: min-content;
        }
        h1 {
            grid-column: 2;
            text-align: center;
        }
    }
}

a.btn, .submit-survey {
    border: 1px outset #ffffff;
    border-radius: 25px;
    background-color: #1d64ce;
    color: #ffffff;

    opacity: .9;
    &:active {
        border-style: inset;
        background-color: #1d64ce;
        opacity: 1;
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 4px 4px #1d64ceb0;
    }
    padding: 23px;
    font-size: 23px;
    color: white;
    &:visited {
        color: white;
    }
}

.modal {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 black;
    border-radius: 10px;
    display: none;
    position: fixed;
    height: 500px;
    width: 500px;
    top: 50vh;
    left: 50vw;
    margin-top: -250px;
    margin-left: -250px;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    button {
        position: fixed;
        font-size: 15px;
        top: 50vh;
        margin-top: -245px;
        left: 50vw;
        margin-left: -245px;
    }

    img {
        width: 350px;
        height: 350px;
        object-fit: cover;
    }

    h2 {
        margin: 0;
    }
}

footer {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
}